<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewPager2Demo"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/ActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TiktokActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GalleryUseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activity.Transformer3DActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            />

        <activity
            android:name=".activity.LoopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            />

        <activity
            android:name=".activity.InfiniteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"
            />

        <activity
            android:name=".activity.SideUseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name=".activity.IndicatorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name=".activity.RemoveActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

        <activity
            android:name=".activity.NoDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />

    </application>

</manifest>